* {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    width: 1000px ;
    }

.img-eye {
        width: 300px;
        height: 200px;
        background-image: url(img/gecko.jpg);
        background-size: 150%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .img-eye:hover {
        background-size: 100%;

    }