h2 {
    color: red;
    font-size: 40px;
    background-color: black;
    text-align: center;
}
   
h3 {
    background-color: red;
}

.index-h4{
    color: black;
    background-color: aqua;
}
#index-h5{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    text-indent: 30px;
    text-transform: uppercase;
    letter-spacing: 10px;
}
   

.index-p3{
    line-height: 30px;
    font-size: 20px;
}    

div h5{
    color: black;
    background-color:green;
}
.index-p2{
    background-color: brown;
}
.index-p1{
    font-family: "Nosifer", sans-serif;
    font-weight: 400;
    font-style: normal;
      color: black;
      background-color: gold;
      font-size: 40px;    
}
    